repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -  id: pyupgrade
       args: ['--py310-plus']

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        args: ['--target-version', 'py310']
        exclude: 'doc/createDoc'

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        exclude: 'doc/createDoc'
