include glade/*.glade glade/*.png
include README AUTHORS LICENSE
include sidepanel/*.py sidepanel/*.glade
include MANIFEST.in
include Utils/open.db
include lang/nl_NL/LC_MESSAGES/pychess.po
include lang/da/LC_MESSAGES/pychess.po
include lang/de_DE/LC_MESSAGES/pychess.po
