include glade/*.glade glade/*.png glade/*.svg flags/*.png
recursive-include pieces *
include README.md AUTHORS ARTISTS DOCUMENTERS LICENSE INSTALL TRANSLATORS
include sounds/*.ogg
include manpages/pychess.1.gz
include menu/pychess
include gtksourceview-3.0/language-specs/pgn.lang
include pychess_book.bin eco.db
include pychess.desktop pychess.svg pychess.png pychess.xmp pychess.appdata.xml pychess.xml
recursive-include lang *.po
