include glade/*.glade glade/*.png glade/*.svg flags/*.png
recursive-include pieces *
include README AUTHORS ARTISTS DOCUMENTERS LICENSE INSTALL TRANSLATORS
include sidepanel/*.py sidepanel/*.glade
include sounds/*.ogg
include manpages/pychess.1.gz
include menu/pychess
include gtksourceview-1.0/language-specs/pgn.lang
include pychess_book.bin eco.db
include pychess.desktop pychess.svg pychess.png pychess.xmp pychess.appdata.xml
recursive-include lang *.po
