[Desktop Entry]
Type=Application
Name=PyChess
Comment=PyChess is a fully featured, nice looking, easy to use chess client for the Gnome desktop
GenericName=Chess Game
Icon=pychess
Exec=env UBUNTU_MENUPROXY= pychess
Terminal=false
Categories=Game;BoardGame;
MimeType=application/x-chess-pgn;
