# Direct dependencies
gbulb==0.6.4
pexpect==4.9.0
psutil==5.9.6
pycairo==1.25.1
PyGObject==3.46.0
SQLAlchemy==2.0.25
websockets==12.0

# Test-only dependencies
pytest==8.0.0

# Indirect dependencies
exceptiongroup==1.2.0
greenlet==3.0.3
importlib-metadata==7.0.1
iniconfig==2.0.0
packaging==23.2
pluggy==1.4.0
ptyprocess==0.7.0
tomli==2.0.1
typing_extensions==4.9.0
zipp==3.17.0
