Source: pychess
Section: games
Priority: optional
Maintainer: Varun Hiremath <varun@debian.org>
Build-Depends: debhelper (>= 7.0.50~), python-all ( >=2.6.6-3~)
Standards-Version: 3.9.3
X-Python-Version: >= 2.6
Homepage: http://pychess.org/
Vcs-Hg: http://code.google.com/p/pychess/source/checkout
Vcs-Browser: http://code.google.com/p/pychess/source/browse/

Package: pychess
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 gnome-icon-theme (>= 2.20.0), python-gtk2, python-glade2,
 python-gst0.10, python-gtksourceview2, python-cairo,
 python-gobject, python-rsvg, gstreamer0.10-plugins-base,
 libgaviotatb1, gaviotatb
Description: chess graphical user interface for several chess engines and the Free Internet Chess Server (FICS)
 PyChess is a chess client for playing and analyzing chess games. It is
 intended to be usable both for those totally new to chess as well as
 advanced users who want to use a computer to further enhance their play.
 .
 PyChess has a builtin python chess engine and auto-detects most
 popular chess engines (Stockfish, Rybka, Houdini, Shredder, GNU Chess,
 Crafty, Fruit, and many more). These engines are available as opponents,
 and are used to provide hints and analysis. PyChess also shows analysis
 from opening books and Gaviota end-game tablebases.
 .
 When you get sick of playing computer players you can login to FICS (the
 Free Internet Chess Server) and play against people all over the world.
 PyChess has a built-in Timeseal client, so you won't lose clock time during
 a game due to lag. PyChess also has pre-move support, which means you can
 make (or start making) a move before your opponent has made their move.
 .
 PyChess has many other features including:
 - CECP and UCI chess engine support with customizable engine configurations
 - Polyglot opening book support
 - Hint and Spy move arrows
 - Hint, Score, and Annotation panels
 - Play and analyze games in separate game tabs
 - 18 chess variants including Chess960, Suicide, Crazyhouse, Shuffle, Losers, Piece Odds, and Atomic
 - Reads and writes PGN, EPD and FEN chess file formats
 - Undo and pause chess games
 - Move animation in games
 - Drag and drop chess files
 - Optional game move and event sounds
 - Chess piece themes with 40 built-in piece themes
 - Legal move highlighting
 - Direct copy+paste pgn game input via Enter Game Notation open-game dialog
 - Internationalised text and Figurine Algebraic Notation (FAN) support
 - Translated into 38 languages (languages with +5% strings translated)
 - Easy to use and intuitive look and feel
