# Copyright (C) 2023 Sebastian Pipping <sebastian@pipping.org>
# Licensed under GPL v3 or later

name: Build DEB package for Linux

# Drop permissions to minimum for security
permissions:
  contents: read

on:
  pull_request:
  push:
  schedule:
    - cron: '0 2 * * 5'  # Every Friday at 2am

jobs:
  build-deb:
    name: Build DEB package for Linux
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1

    - name: Install dependencies
      run: |
        set -x
        sudo apt-get update
        sudo apt-get install --no-install-recommends --yes -V \
            debhelper \
            dh-python \
            file \
            gettext \
            gir1.2-gdkpixbuf-2.0 \
            gir1.2-glib-2.0 \
            gir1.2-gstreamer-1.0 \
            gir1.2-gtk-3.0 \
            gir1.2-gtksource-3.0 \
            gir1.2-pango-1.0 \
            gir1.2-rsvg-2.0 \
            gstreamer1.0-plugins-base \
            gstreamer1.0-plugins-good \
            libgirepository1.0-dev \
            python3-all \
            python3-stdeb

    - name: Install from sources
      run: |
        set -x
        python3 --version
        python3 -m venv venv
        source venv/bin/activate

        pip3 install -U pip setuptools wheel
        pip3 install -r requirements.txt
        diff -u0 <(sed -e 's,#.*,,' -e '/^$/d' < requirements.txt | sort -f) <(pip3 freeze | sort -f)  # enforces complete pinning

        time PYTHONPATH=lib python3 pgn2ecodb.py
        time PYTHONPATH=lib python3 create_theme_preview.py

        pip3 install -e .

        pychess --help  # smoke test

    - name: "Build DEB package"
      run: |
        set -x
        bash -x create_deb.sh
        rm -Rf deb_dist/pychess-*/

    - name: "Re-compress DEB package"
      run: |
        summarize_deb_file() {
            local filename="$1"
            ls -lh "${filename}"
            file "${filename}"
        }

        recompress_deb_file() {
            # NOTE: The idea is to get rid of zstd compression
            #       because e.g. Debian bullseye cannot yet handle it
            #       https://github.com/pychess/pychess/issues/2049
            local filename="$1"
            local tempdir="$(mktemp -d)"
            sudo dpkg-deb --raw-extract "${filename}" "${tempdir}"
            sudo dpkg-deb --build -Zxz "${tempdir}" "${filename}"
            sudo rm -Rf "${tempdir}"
        }

        set -x
        summarize_deb_file deb_dist/*.deb
        recompress_deb_file deb_dist/*.deb
        summarize_deb_file deb_dist/*.deb

    - name: Store DEB artifacts
      uses: actions/upload-artifact@1eb3cb2b3e0f29609092a73eb033bb759a334595  # v4.1.0
      with:
        name: pychess_deb_${{ github.sha }}
        path: deb_dist/
        if-no-files-found: error
