# Copyright (C) 2023 Sebastian Pipping <sebastian@pipping.org>
# Licensed under GPL v3 or later

name: Build for Windows

# Drop permissions to minimum for security
permissions:
  contents: read

on:
  pull_request:
  push:
  schedule:
    - cron: '0 2 * * 5'  # Every Friday at 2am

jobs:
  checks:
    name: Build for Windows
    runs-on: windows-2022
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633  # v4.1.2

    - name: Install build dependencies (MSYS)
      uses: msys2/setup-msys2@7efe20baefed56359985e327d329042cde2434ff  # v2
      with:
        update: true
        msystem: MINGW64
        install: |
          mingw-w64-x86_64-adwaita-icon-theme
          mingw-w64-x86_64-gtk3
          mingw-w64-x86_64-gtksourceview3
          mingw-w64-x86_64-python
          mingw-w64-x86_64-python-cairo
          mingw-w64-x86_64-python-cx_Freeze
          mingw-w64-x86_64-python-gobject
          mingw-w64-x86_64-python-pexpect
          mingw-w64-x86_64-python-psutil
          mingw-w64-x86_64-python-sqlalchemy
          mingw-w64-x86_64-python-pip
          mingw-w64-x86_64-toolchain

    - name: Install build dependencies (PyPI)
      run: |
        pip3 install websockets

    - name: Install build dependencies (Stockfish)
      uses: robinraju/release-downloader@368754b9c6f47c345fcfbf42bcb577c2f0f5f395  # v1.9
      with:
        repository: fairy-stockfish/Fairy-Stockfish
        latest: true
        fileName: fairy-stockfish_x86-64.exe
        out-file-path: engines

    - name: Build
      run: |-
        set -x
        PYTHONPATH=lib python3 pgn2ecodb.py
        PYTHONPATH=lib python3 create_theme_preview.py
        python3 setup.py bdist_msi --help
        python3 setup.py bdist_msi

    - name: Store Windows binaries
      uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3  # v4.3.1
      with:
        name: pychess_win64_msi_${{ github.sha }}
        path: dist/*.msi
        if-no-files-found: error
