# Copyright (C) 2023 Sebastian Pipping <sebastian@pipping.org>
# Licensed under GPL v3 or later

name: Build for Windows

# Drop permissions to minimum for security
permissions:
  contents: read

on:
  pull_request:
  push:
  schedule:
    - cron: '0 2 * * 5'  # Every Friday at 2am

jobs:
  checks:
    name: Build for Windows
    runs-on: windows-2022
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # v4.1.7

    - name: Install build dependencies (MSYS)
      uses: msys2/setup-msys2@5df0ca6cbf14efcd08f8d5bd5e049a3cc8e07fd2  # v2.24.0
      with:
        update: true
        msystem: MINGW64
        install: |
          mingw-w64-x86_64-adwaita-icon-theme
          mingw-w64-x86_64-gtk3
          mingw-w64-x86_64-gtksourceview3
          mingw-w64-x86_64-python
          mingw-w64-x86_64-python-cairo
          mingw-w64-x86_64-python-cx_Freeze
          mingw-w64-x86_64-python-gobject
          mingw-w64-x86_64-python-pexpect
          mingw-w64-x86_64-python-psutil
          mingw-w64-x86_64-python-sqlalchemy
          mingw-w64-x86_64-python-pip
          mingw-w64-x86_64-toolchain

    - name: Install build dependencies (PyPI)
      run: |
        pip3 install websockets

    - name: Install build dependencies (Stockfish)
      uses: robinraju/release-downloader@a96f54c1b5f5e09e47d9504526e96febd949d4c2  # v1.11
      with:
        repository: fairy-stockfish/Fairy-Stockfish
        latest: true
        fileName: fairy-stockfish_x86-64.exe
        out-file-path: engines

    - name: Build
      run: |-
        set -x
        PYTHONPATH=lib python3 pgn2ecodb.py
        PYTHONPATH=lib python3 create_theme_preview.py
        python3 setup.py bdist_msi --help
        python3 setup.py bdist_msi

    - name: Store Windows binaries
      uses: actions/upload-artifact@89ef406dd8d7e03cfd12d9e0a4a378f454709029  # v4.3.5
      with:
        name: pychess_win64_msi_${{ github.sha }}
        path: dist/*.msi
        if-no-files-found: error
