# Copyright (C) 2023 Sebastian Pipping <sebastian@pipping.org>
# Licensed under GPL v3 or later

name: Build for Windows

# Drop permissions to minimum for security
permissions:
  contents: read

on:
  pull_request:
  push:
  schedule:
    - cron: '0 2 * * 5'  # Every Friday at 2am

jobs:
  checks:
    name: Build for Windows
    runs-on: windows-2022
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

    - name: Install build dependencies (MSYS)
      uses: msys2/setup-msys2@4f806de0a5a7294ffabaff804b38a9b435a73bda  # v2.30.0
      with:
        update: true
        msystem: MINGW64
        install: |
          mingw-w64-x86_64-adwaita-icon-theme
          mingw-w64-x86_64-gtk3
          mingw-w64-x86_64-gtksourceview4
          mingw-w64-x86_64-python
          mingw-w64-x86_64-python-cairo
          mingw-w64-x86_64-python-cx-freeze
          mingw-w64-x86_64-python-gobject
          mingw-w64-x86_64-python-pexpect
          mingw-w64-x86_64-python-psutil
          mingw-w64-x86_64-python-sqlalchemy
          mingw-w64-x86_64-python-pip
          mingw-w64-x86_64-toolchain

    - name: Install build dependencies (PyPI)
      run: |
        pip3 install websockets

    - name: Install build dependencies (Stockfish)
      uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05  # v1.12
      with:
        repository: fairy-stockfish/Fairy-Stockfish
        latest: true
        fileName: fairy-stockfish_x86-64.exe
        out-file-path: engines

    - name: Build
      run: |-
        set -x
        PYTHONPATH=lib python3 pgn2ecodb.py
        PYTHONPATH=lib python3 create_theme_preview.py
        python3 setup.py bdist_msi --help
        python3 setup.py bdist_msi

    - name: Store Windows binaries
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f  # v7.0.0
      with:
        name: pychess_win64_msi_${{ github.sha }}
        path: dist/*.msi
        if-no-files-found: error
